body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('backimage.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
}

#welcome {
    text-align: center;
    margin-bottom: 2rem;
}

#welcome .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome img {
    width: 250px;
    height: 230px;
    border-radius: 30%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#welcome p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#projects {
    margin-bottom: 2rem;
}

#projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.project-tile {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.project-tile:hover {
    transform: translateY(-5px);
}

.project-tile h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-tile p {
    margin-bottom: 1rem;
}

.skills-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.skills-list li {
    margin-bottom: 0.5rem;
}

.project-tile a {
    text-decoration: none;
    color: inherit;
}

.project-tile img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact {
    text-align: center;
    margin-bottom: 2rem;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0073e6;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
